/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.client_sections {
  background: #fafafa;
  padding-bottom: 85px;
}
.client_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1050px;
  padding: 20px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.client_section_brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 30px;
}
.client_section_brands img {
  padding: 0 20px;
}

.client_section_latest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 2px;
  background: var(--secondary-color-2, #16697a);
  width: 100%;
  padding: 30px 50px;
}
.client_section_latest h3 {
  color: var(--light-text-color, #fff);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1px;
  width: 55%;
}
.latest_left {
  width: 55%;
}
.latest_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 40%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  background: #f9f9f9;
  /* padding: 15px 20px; */
}

.latest_input {
  border: none;
  outline: none;
  padding-left: 20px;
  width: 65%;
}
input.latest_input::-webkit-input-placeholder {
  color: var(--second-text-color, #737373);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 200% */
  letter-spacing: 0.2px;
}
input.latest_input::-moz-placeholder {
  color: var(--second-text-color, #737373);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 200% */
  letter-spacing: 0.2px;
}
input.latest_input:-ms-input-placeholder {
  color: var(--second-text-color, #737373);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 200% */
  letter-spacing: 0.2px;
}
input.latest_input::-ms-input-placeholder {
  color: var(--second-text-color, #737373);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 200% */
  letter-spacing: 0.2px;
}
input.latest_input::placeholder {
  color: var(--second-text-color, #737373);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 200% */
  letter-spacing: 0.2px;
}

.btn {
  color: var(--light-text-color, #fff);

  border: none;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #e6e6e6;
  background: var(--primary-color, #ffa62b);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 200% */
  letter-spacing: 0.2px;
  padding: 16px 22px;
}
.mobile {
  display: none;
}
@media (max-width: 480px) {
  .mobile {
    display: block;
  }
  .web {
    display: none;
  }
  .client_section {
    width: 100%;
    padding: 0;
  }
  .client_sections {
    padding-bottom: 0;
  }
  .client_section_brands {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 50px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 60px;
  }
  .client_section_latest {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 30px;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    padding: 30px 0;
  }
  .client_section_latest .latest_left {
    width: 100%;
  }
  .latest_left h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
  .latest_right {
    width: 100%;
  }
}
