/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.services_sections {
  margin-bottom: 57px;
  background: #fafafa;
}

.services_section_title {
  text-align: center;
  margin: 100px 0;
  /* margin: 0 auto; */
}
.services_section_title h1 {
  color: var(--text-color, #252b42);
  text-align: center;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.2px;
}
.services_section_title p {
  color: var(--second-text-color, #737373);
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
  width: 55%;
  margin: 0 auto;
  padding-top: 15px;
}
.services_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 120px;
}
.services_section_video {
  position: relative;
  background-image: url(../images/services_img.png);
  -ms-flex-preferred-size: 60%;
  flex-basis: 60%;
  height: 442px;
}
.servaces_img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.services_section_info {
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
}
.field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 10px;
}
.field h2 {
  color: var(--text-color, #252b42);
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.2px;
}
.field p {
  color: var(--second-text-color, #737373);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.2px;
  padding-bottom: 20px;
}
.quick {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 30px;
}
.quick_one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.quick_one h5 {
  color: var(--text-color, #252b42);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
}
.quick_one p {
  color: var(--second-text-color, #737373);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
}
.quick_one img {
  width: 32px;
  height: 32px;
  margin-right: 20px;
}
.quick_two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.quick_two h5 {
  color: var(--text-color, #252b42);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
}
.quick_two p {
  color: var(--second-text-color, #737373);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
}
.quick_two img {
  width: 32px;
  height: 32px;
  margin-right: 20px;
}
@media (max-width: 480px) {
  .services_section_title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
    width: 225px;
  }
  .services_section_title p {
    width: 225px;
  }
  .services_section_info h1 {
    margin-top: 100px;
  }
  .services_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 52px;
    margin-top: 100px;
  }
  .services_section_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 30px;
    margin: 0 auto;
    width: 330px;
  }
  .services_section_video {
    background-image: url(../images/services_img.png);
    width: 100%;
  }
  .services_sections {
    margin-bottom: 100px;
  }
}
